# Virtual environment
.venv/

# Python cache files
__pycache__/
*.py[cod]

# VS Code settings
.vscode/

# Environment variables / secrets
.env

# Django static files
staticfiles/
media/

# Mac system files
.DS_Store

*.sqlite3